services:

  db:
    image: postgres:latest
    container_name: siebrecht_copilot_database
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql

  web:
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env

    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - ./media:/app/media
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - db


volumes:
  static_volume:
  postgres_data: