services:

  db:
    image: postgres:14
    container_name: siebrecht_copilot_database
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  redis:
    image: redis:8.4.0
    container_name: siebrecht_copilot_redis
    restart: unless-stopped
    volumes:
      - redis_data:/data
    networks:
      - app_network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: siebrecht_copilot_backend
    env_file: 
      - .env
    restart: unless-stopped
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - ./media:/app/media
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - db
      - redis
    networks:
      - app_network

  worker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: siebrecht_copilot_worker
    env_file:
      - .env
    restart: unless-stopped
    command: python manage.py rqworker default
    volumes:
      - .:/app
      - ./media:/app/media
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - redis
      - db
    networks:
      - app_network

volumes:
  static_volume:
  postgres_data:
  redis_data:

networks:
  app_network:
    driver: bridge
